* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.resources-header {
  position: fixed;
  background-color: orange;
  width: 100%;
  top: 0;
  text-align: center;
}

.resource-header-img {
  width: 100%;
  text-align: center;
  margin-top: 120px;
}

.resource-content {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  border: black solid 2px;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

footer {    
    margin-top: 30px;
    background-color: orange;
    padding: 20px;
}