* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

body {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: orange;
}

.home-page-img img{
  margin-top: 110px;
  width: 100%;
  text-align: center;
}

figcaption {
  background-color: white;
  text-align: center;
}

.resource-img {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

.resource-content {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  border: black solid 2px;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

footer {    
    margin-top: 30px;
    background-color: orange;
    padding: 20px;
}