* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-container .btn:hover {
    background-color: black;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

body {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 180px
}

header {
  top: 0;
  position: fixed;
}

.home-page-img img{
  margin-top: 110px;
  width: 100%;
  text-align: center;
}

figcaption {
  background-color: white;
  text-align: center;
}

.resource-img {
  width: 100%;
  text-align: center;
  margin-top: 20%;
}

.resource-content {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  border: black solid 2px;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

footer {    
    margin-top: 30px;
    background-color: orange;
    padding: 20px;
}

/* Container needed to position the button. Adjust the width as needed */

.image-container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */

.image-container img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */

.image-container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sidebysideimage {
    display: flex;
}

#homelink {
    font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

li, a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    list-style-type: none;
    text-align: center;
    padding: 3px 0px;

}



.navlink {
    list-style: none;
    font-size: 20px;
   
}
 
li {
   left: 0
}

header {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    background-color: #BDBDBD;
    width: 100%;
    z-index: 1;

}

h4 {
    width: auto;
}

.home {
    text-align: center;
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


 .navlink {
     display: inline-block;
     padding: 0px 20px;
 }
 
 .navlink li ,a{
     transition: all 0.3 ease 0s;
 }
 
 .navlink li, a:hover{
     color:blue;
 }
 .container {
     margin-top: 300px;
 }
  iframe {
       display:block;
       align-items:center;
 }
 h2 {
     text-align:center;
 }
 